<div class="text-center mb-3">
  <img class="text-center w-50" src="/assets/img/logo.png">
</div>
<h2 class="text-center">Recuperar senha</h2>
<form *ngIf="!confirm" [formGroup]="form" (ngSubmit)="sendPasswordResetLink($event)">
  <span class="form-text text-center my-3" *ngIf="sent">
    Enviamos um e-mail com o link para recuperação de senha do seu cadastro. Confira sua caixa de entrada!
  </span>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" formControlName="email" [class.is-invalid]="form.controls.email.invalid && submitted" id="email" aria-describedby="emailHelp" placeholder="nome@email.com">
    <div class="invalid-feedback">
      Obrigatório
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-secondary w-100 rounded-pill" [disabled]="loading">Enviar Email</button>
  </div>
  <div class="text-center mt-3">
    <a class="form-text" routerLink="/auth/entrar"><span id="passwordHelp" class="text-muted">Você já é cadastrado? </span><span class="text-secondary">Login</span></a>
  </div>
</form>

<form *ngIf="confirm" [formGroup]="resetForm" (ngSubmit)="resetPassword($event)">
  <span class="form-text text-center my-3">Defina uma nova senha para o email <strong>{{email}}</strong></span>
  <div class="form-group">
    <label for="password">Digite sua nova senha</label>
    <input type="password" class="form-control" formControlName="password" [class.is-invalid]="resetForm.controls.password.invalid && submitted"  id="password" aria-describedby="emailHelp" placeholder="******">
    <div class="invalid-feedback">
      Obrigatório
    </div>
  </div>
  <div class="form-group">
    <label for="passwordAgain">Confirme sua nova senha</label>
    <input type="password" class="form-control" formControlName="repeatPassword" [class.is-invalid]="resetForm.controls.repeatPassword.invalid && submitted"  id="passwordAgain" aria-describedby="emailHelp" placeholder="******">
    <div class="invalid-feedback">
      Obrigatório
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-secondary w-100 rounded-pill" [disabled]="loading">Alterar senha</button>
  </div>
  <div class="text-center mt-3">
    <a class="form-text" routerLink="/auth/entrar"><span id="passwordHelp" class="text-muted">Você já é cadastrado? </span><span class="text-secondary">Login</span></a>
  </div>
</form>
<div class="d-flex justify-content-around mt-4" *ngIf="loading">
  <div class="spinner-border text-secondary" role="status" width="38">
    <span class="sr-only">Loading...</span>
  </div>
</div>
