a {
  small,
  fa-icon {
    color: #65a6bc;
    font-weight: 600;
  }
  fa-icon {
    font-size: 11px;
  }
}

.update-button {
  background-color: #ebf0f5;
  border: 1px solid #99a8bb;
  color: #99a8bb;
  font-size: 11px;
  height: 30px;
  border-radius: 4px;
}
