<div class="p-4">
  <div class="d-flex">
    <h2 class="flex-grow-1">Documentos da empresa</h2>
    <div>
      <!-- div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-light mr-3"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Filtro
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Todas</button>
          <button ngbDropdownItem>Entrada</button>
          <button ngbDropdownItem>Saída</button>
        </div>
      </div -->

      <button class="btn btn-primary" (click)="openAddDocument()" *ngIf="route !== 'impostos'">
        Adicionar
      </button>
    </div>
  </div>
  <div class="mt-4">
    <div class="card shadow-sm">
      <div class="card-header p-0">
        <nav class="p-0 navbar navbar-expand-sm navbar-light horizontal">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link py-3" aria-current="page" routerLinkActive="active" routerLink="empresa">Empresa</a>
                <a class="nav-link py-3" routerLinkActive="active" routerLink="certidoes">Certidões</a>
                <a class="nav-link py-3" routerLinkActive="active" routerLink="impostos">Impostos</a>
                <a class="nav-link py-3" routerLinkActive="active" routerLink="taxas">Taxas</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
