<div class="p-4">
  <div class="d-flex">
    <div class="flex-grow-1">
      <h2>Impostos</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="d-flex w-100 justify-content-end">
        <div ngbDropdown class="d-inline-block ml-3">
          <div class="btn-filter" id="dateDropdown" ngbDropdownToggle>
            <img src="../../assets/icons/ic_calendar.svg" height="20" alt="" />

            <div class="d-flex flex-column mx-3">
              <h6 class="font-weight-bold mb-1">Período</h6>
              <small>{{ formatDate((filter$ | async)?.period) }}</small>
            </div>
            <img
              src="../../assets/icons/ic_chevron_down.svg"
              height="20"
              alt=""
            />
          </div>
          <div ngbDropdownMenu aria-labelledby="dateDropdown">
            <div class="d-flex justify-content-center">
              <div class="btn-group btn-group-sm btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="radioPeriod">
                <label ngbButtonLabel class="btn-outline-primary btn-sm">
                  <input ngbButton type="radio" value="month"> Mês
                </label>
                <label ngbButtonLabel class="btn-outline-primary btn-sm">
                  <input ngbButton type="radio" value="quarter"> Trimestre
                </label>
              </div>
            </div>

            <div class="d-flex align-items-center">
              <button class="btn btn-link" (click)="decrementYear()">
                <i class="pi pi-chevron-left"></i>
              </button>
              <span class="flex-grow-1 text-center">{{ radioYear }}</span>
              <button class="btn btn-link" (click)="incrementYear()">
                <i class="pi pi-chevron-right"></i>
              </button>
            </div>

            <div class="px-3 py-2" *ngIf="radioPeriod === 'month'">
              <div class="row">
                <button class="btn btn-sm col-4" [class.btn-primary]="isMonthSelected(month)" *ngFor="let month of months()" routerLink="./" [queryParams]="{type: (filter$ | async)?.type, document: (filter$ | async)?.document, period: formatDate(month, 'MM-YYYY')}"><small>{{formatDate(month, 'MMM')}}</small></button>
              </div>
            </div>

            <div class="px-3 py-2" *ngIf="radioPeriod === 'quarter'">
              <div class="row">
                <button class="btn btn-sm col-6"
                  [class.btn-primary]="isQuarterSelected(quarter)"
                  *ngFor="let quarter of quarters()"
                  routerLink="./" [queryParams]="{type: (filter$ | async)?.type, document: (filter$ | async)?.document, period: formatDate(quarter, 'QT-YYYY')}"><small>{{formatDate(quarter, 'Qtri/YYYY')}}</small></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <div class="d-flex w-100 justify-content-end align-items-center">
        <button
          class="btn btn-action mr-3 calculation-btn"
          (click)="openCalculation()"
          type="button"
        >
          Apurar
        </button>
        <button
          class="btn btn-action simulation-btn"
          type="button"
          (click)="openSimulation()"
        >
          Simular
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-3 mb-4 mb-lg-0">
      <div class="card sm-card">
        <div class="card-body d-flex align-items-center">
          <div class="d-flex align-items-center icon-container pr-4">
            <div
              class="rounded-circle d-flex align-items-center justify-content-center"
            >
              <img
                src="../../../assets/icons/ic_coffee.svg"
                height="40"
                alt=""
              />
            </div>
          </div>
          <div class="d-flex flex-column" *ngIf="taxCalculation$ | async as taxCalculation">
            <h1 class="mb-0 card-value-small text-nowrap text-truncate">
              {{ taxCalculation.total | currency: 'R$ ':'symbol':'1.0-0' }}
            </h1>
            <span class="medium-txt">Faturamento</span>
            <div class="d-flex align-items-center">
              <img src="../../assets/icons/graph_positive.svg" alt="" />
              <small class="ml-1 text-muted">4% (30 days)</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-4 mb-lg-0">
      <div class="card sm-card">
        <div class="card-body d-flex align-items-center">
          <div class="d-flex align-items-center icon-container pr-4">
            <div
              class="rounded-circle d-flex align-items-center justify-content-center"
            >
              <img
                src="../../../assets/icons/ic_dollar.svg"
                height="40"
                alt=""
              />
            </div>
          </div>
          <div class="d-flex flex-column">
            <h1 class="mb-0 card-value-small">{{ (company$ | async)?.regime }}</h1>
            <span class="medium-txt">Regime</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-4 mb-lg-0">
      <div class="card sm-card">
        <div class="card-body d-flex align-items-center">
          <div class="d-flex align-items-center icon-container pr-4">
            <div
              class="rounded-circle d-flex align-items-center justify-content-center"
            >
              <img
                src="../../../assets/icons/ic_activity.svg"
                height="40"
                alt=""
              />
            </div>
          </div>
          <div class="d-flex flex-column">
            <h1 class="mb-0 card-value-small">{{ (calculateTaxes((taxCalculation$ | async)?.impostosCalculados) / (taxCalculation$ | async)?.total) | percent: '1.1-2' }}</h1>
            <span class="medium-txt">Impostos</span>
            <div class="d-flex align-items-center">
              <img src="../../assets/icons/graph_positive.svg" alt="" />
              <small class="ml-1 text-muted">4% (30 days)</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card sm-card">
        <div class="card-body d-flex align-items-center">
          <div class="d-flex align-items-center icon-container pr-4">
            <div
              class="rounded-circle d-flex align-items-center justify-content-center"
            >
              <img
                src="../../../assets/icons/ic_customer _2.svg"
                height="40"
                alt=""
              />
            </div>
          </div>
          <div class="d-flex flex-column">
            <h1 class="mb-0 card-value-small">{{ calculateTaxes((taxCalculation$ | async)?.impostosCalculados) | currency: 'R$ ':'symbol':'1.0-0' }}</h1>
            <span class="medium-txt">Impostos</span>
            <div class="d-flex align-items-center">
              <img src="../../assets/icons/graph_positive.svg" alt="" />
              <small class="ml-1 text-muted">4% (30 days)</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <p-table
        [value]="taxes"
        [rows]="10"
        [rowHover]="false"
        [paginator]="true"
        [responsive]="true"
        [showFirstLastIcon]="false"
        styleClass="custom-table"
        tableStyleClass="no-row-border"
      >
        <ng-template pTemplate="header" *ngIf="data.length > 0">
          <tr>
            <th pSortableColumn="id" style="width: 10rem">
              ID <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="period" style="width: 10rem">
              Período <p-sortIcon field="period"></p-sortIcon>
            </th>
            <th pSortableColumn="tax" style="width: 10rem">
              Imposto <p-sortIcon field="tax"></p-sortIcon>
            </th>
            <th pSortableColumn="aliquota" style="width: 10rem">
              Alíquota <p-sortIcon field="aliquota"></p-sortIcon>
            </th>
            <th pSortableColumn="imposto">
              Valor<p-sortIcon field="imposto"></p-sortIcon>
            </th>
            <th pSortableColumn="status">
              Status<p-sortIcon field="status"></p-sortIcon>
            </th>
            <th style="width: 5rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr routerLink="/impostos/{{ item.id }}">
            <td>#{{ item.id.slice(0, 8) }}...</td>
            <td>{{ formatPeriod(item.period) }}</td>
            <td>{{ item.tax }}</td>
            <td>{{ item.aliquota | percent: '1.2-2' }}</td>
            <td class="text-nowrap">{{ item.imposto | currency: 'R$ ' }}</td>
            <td>
              <span class="badge bg-{{ getStatusColor(item) }} text-white">{{ getStatusName(item) }}</span>
            </td>
            <td>
              <a role="button"><i class="pi pi-ellipsis-h"></i></a>
            </td>
          </tr>
        </ng-template>

        <ng-template
          pTemplate="paginatorleft"
          *ngIf="data.length > 0"
          let-state
        >
          Mostrar de {{ state.page * state.rows + 1 }} até
          {{ state.rows * (state.page + 1) }}
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">Não há dados para exibir.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
