<div class="p-4">
  <div class="d-flex">
    <h2 class="flex-grow-1">Configurações</h2>
    <div></div>
  </div>
  <div class="mt-4">
    <div class="card shadow-sm">
      <div class="card-header p-0">
        <nav class="p-0 navbar navbar-expand-sm navbar-light horizontal">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a
                  class="nav-link py-3"
                  aria-current="page"
                  routerLinkActive="active"
                  routerLink="empresa"
                  >Empresa</a
                >
                <a
                  class="nav-link py-3"
                  routerLinkActive="active"
                  routerLink="socios"
                  >Sócios</a
                >
                <a
                  class="nav-link py-3"
                  routerLinkActive="active"
                  routerLink="fiscal"
                  >Fiscal</a
                >
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
