<div class="row pb-2">
  <div class="col-12">
    <div class="d-flex">
      <div class="col-md-9">
        <form id="config-partners-form" [formGroup]="form">
          <section>
            <span class="txt-primary">Dados Cadastrais</span>
            <div class="row mt-3">
              <div class="col-md-3">
                <div class="form-group">
                  <label>Nome</label>
                  <input
                    type="text"
                    class="form-control rounded-input"
                    formControlName="name1"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Qualificação</label>
                  <input
                    type="text"
                    class="form-control rounded-input"
                    formControlName="qualification1"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Participação</label>
                  <input
                    type="text"
                    class="form-control rounded-input"
                    mask="percent"
                    suffix="%"
                    formControlName="participation1"
                  />
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-3">
                <div class="form-group">
                  <label>Nome</label>
                  <input
                    type="text"
                    class="form-control rounded-input"
                    formControlName="name2"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Qualificação</label>
                  <input
                    type="text"
                    class="form-control rounded-input"
                    formControlName="qualification2"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Participação</label>
                  <input
                    type="text"
                    class="form-control rounded-input"
                    mask="percent"
                    suffix="%"
                    formControlName="participation2"
                  />
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-3">
                <div class="form-group">
                  <label>Nome</label>
                  <input
                    type="text"
                    class="form-control rounded-input"
                    formControlName="name3"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Qualificação</label>
                  <input
                    type="text"
                    class="form-control rounded-input"
                    formControlName="qualification3"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Participação</label>
                  <input
                    type="text"
                    class="form-control rounded-input"
                    mask="percent"
                    suffix="%"
                    formControlName="participation3"
                  />
                </div>
              </div>
            </div>
          </section>
        </form>
      </div>
    </div>
  </div>
  <div class="mt-4 d-flex justify-content-end align-items-center w-100 pr-3">
    <button type="button" class="btn btn-action btn-secondary-blue mr-3">
      cancelar
    </button>
    <button type="button" class="btn btn-action btn-blue">salvar</button>
  </div>
</div>
