<div class="row">
  <div class="col-12 d-flex justify-content-end px-4">
    <button class="btn" (click)="logout()">
      <fa-icon class="ml-2 mr-3" [icon]="faExit"></fa-icon> Sair
    </button>
  </div>
</div>
<div class="row">
  <div class="col-3 px-5">
    <div class="logo text-center flex-grow-1 hideable mb-3">
      <img src="/assets/img/logo.png" class="w-50">
    </div>

    <p>Bem vindo(a)</p>
    <p style="line-height: 2;">Para começar, vamos realizar alguns ajustes na plataforma para você aproveitar 100% dos nossos recursos.</p>

    <ul class="steps">
      <li class="text-secondary"><fa-icon class="ml-2 mr-3 text-secondary" [icon]="faCheckCircle"></fa-icon>Autenticação</li>
      <li class="text-primary"><fa-icon class="ml-2 mr-3 text-primary" [icon]="faCircleNotch"></fa-icon>Dados da Empresa</li>
      <li><fa-icon class="ml-2 mr-3" [icon]="faCircleNotch"></fa-icon>Pagamento</li>
      <li><fa-icon class="ml-2 mr-3" [icon]="faCircleNotch"></fa-icon>Dados Fiscais</li>
      <li><fa-icon class="ml-2 mr-3" [icon]="faCircleNotch"></fa-icon>Notas Fiscais</li>
      <li><fa-icon class="ml-2 mr-3" [icon]="faCircleNotch"></fa-icon>Importação</li>
    </ul>
  </div>

  <div class="col-9 px-5" [formGroup]="form">
    <h2 class="text-center mb-3">Dados da Empresa</h2>
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="cnpj" class="form-label">CNPJ</label>
          <input type="text" mask="00.000.000/0000-00" class="form-control" id="cnpj" formControlName="cnpj" (change)="searchCNPJ($event)" [class.is-invalid]="form.controls.cnpj.invalid && submitted">
          <div class="invalid-feedback">
            Obrigatório
          </div>
        </div>

        <div class="mb-3">
          <label for="fantasia" class="form-label">Nome Fantasia</label>
          <input type="text" class="form-control" id="fantasia" formControlName="name">
        </div>

        <div class="mb-3">
          <label for="inscricao_estadual" class="form-label">Inscrição Estadual</label>
          <input type="text" class="form-control" id="inscricao_estadual" formControlName="stateRegistration">
        </div>

        <div class="mb-3">
          <label for="cep" class="form-label">CEP</label>
          <input type="text" mask="00.000-000" class="form-control" id="cep" formControlName="postalCode">
        </div>
      </div>

      <div class="col-6">
        <div class="mb-3">
          <label for="regime" class="form-label">Regime Social</label>
          <select class="form-control" aria-label="Regime Social" formControlName="regime" [class.is-invalid]="form.controls.regime.invalid && submitted">
            <option selected>Selecione</option>
            <option value="MEI">Micro Empreendedor Individual - MEI</option>
            <option value="Simples Nacional">Simples Nacional</option>
            <option value="Lucro Presumido">Lucro Presumido</option>
          </select>
          <div class="invalid-feedback">
            Obrigatório
          </div>
        </div>


        <div class="mb-3">
          <label for="razao_social" class="form-label">Razão Social</label>
          <input type="text" class="form-control" id="razao_social" formControlName="businessName">
        </div>


        <div class="mb-3">
          <label for="inscricao_municipal" class="form-label">Inscrição Municipal</label>
          <input type="text" class="form-control" id="inscricao_municipal" formControlName="cityRegistration">
        </div>

        <div class="mb-3">
          <label for="numero" class="form-label">Número</label>
          <input type="text" class="form-control" id="numero" formControlName="number">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group mb-2">
          <label for="cnaes">CNAES</label>
          <div class="input-group mb-2">
            <input type="text" class="form-control" id="add" [formControl]="add" name="add" placeholder="00.00-0-00 - Descrição da atividade">
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-secondary" (click)="addActivity()">+ ADICIONAR</button>
            </div>
          </div>
          <textarea class="form-control" id="cnaes" rows="3" formControlName="activitiesList"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <button type="button" class="btn btn-link">Voltar</button>
      <button type="button" class="btn btn-primary rounded-pill" [disabled]="loading" (click)="createCompany()">Continuar</button>
    </div>
  </div>
</div>
