<div class="p-3">
  <section>
    <small class="txt-gray-200 letter-spacing fw-600">PLANO CONTRATADO</small>
  </section>

  <section class="mt-4">
    <div class="d-flex justify-content-between w-100 align-items-end">
      <div class="d-flex flex-column">
        <h5 class="fw-600">Assinatura Marketing e Sales</h5>
        <small>Cobrado mensalmente, assinatura de 6 meses</small>
      </div>
      <button class="btn billings-button">
        <span class="text-nowrap fw-400">Exibir faturas</span>
      </button>
    </div>
  </section>

  <div class="section mt-4 pt-2">
    <table class="w-100">
      <thead>
        <tr>
          <th>
            <small class="text-nowrap">Vigência da assinatura</small>
          </th>
          <th>
            <small class="text-nowrap">Próxima data de cobrança</small>
          </th>
          <th>
            <small class="text-nowrap">Método de pagamento</small>
          </th>
          <th>
            <small class="text-nowrap">Preço de assinatura</small>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span class="text-nowrap"
              >24 de Mar de 2021 - 23 de Set de 2021</span
            >
          </td>
          <td><span class="text-nowrap">24 de Abr de 2021</span></td>
          <td>
            <div class="d-flex">
              <img
                src="../../../../assets/img/mastercard.png"
                height="18"
                alt="Mastercard"
                class="mr-2"
              />
              <div class="d-flex flex-column">
                <div>
                  <span class="mr-1 txt-nowrap">MC...3628</span>
                  <a role="button">Alterar</a>
                </div>
                <small class="text-nowrap">Expira em 08/24</small>
              </div>
            </div>
          </td>
          <td>
            <div>
              <span class="fw-900 text-nowrap">650,00/mês</span>
            </div>
            <div>
              <small class="text-nowrap">Não inclui impostos aplicáveis</small>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
