.billings-button {
  background-color: #ebf0f5;
  border: 1px solid #99a8bb;
  color: #99a8bb;
  font-size: 11px;
  height: 30px;
  border-radius: 4px;
}

td {
  span {
    font-size: 14px;
  }
}

a {
  color: #65a6bc !important;
  font-weight: 600;
}

th {
  padding-bottom: 1rem;
}

tbody tr {
  vertical-align: top;
}
